<footer>

    <section class="mb-4 ">
        <!-- Facebook -->
        <a class=" icons " href="#!"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class=" icons " href="#!"><i class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a class=" icons " href="#!"><i class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a class=" icons " href="#!"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class=" icons " href="#!"><i class="fab fa-linkedin-in"></i></a>

        <!-- Github -->
        <a class=" icons " href="#!"><i class="fab fa-github"></i></a>
    </section>

    <h3>{{'formulario.subtitulo' | translate }}</h3>
    <span>{{'formulario.subtitulo' | translate }}</span> 

    <!-- Copyright -->
    <div class="text-center p-3" id="textoFooter">
        © 2020 Copyright:
        <a href="#" >{{'formulario.subtitulo' | translate }}</a>
    </div>
    <!-- Copyright -->
</footer>